/* Styles used for game boards */
.boards-container {
	align-self: center;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: var(--_flex-gap);
	padding-block: var(--_vertical-scroll-padding);
	padding-block-start: calc(var(--_vertical-scroll-padding) * 4);
}

.game {
	--_current-row-scale: 1.2;
	--_animation-grow-scale: 1.08;
	display: flex;
	flex-direction: column;
	font-size: var(--letter-size);
	gap: var(--_tile-gap);
}

.playing .current-row {
	z-index: 1;
	filter: drop-shadow(4px 4px 8px var(--color-shadow));
}

.playing.invalid .current-row .letter {
	color: var(--color-text-invalid);
}

.playing.invalid .current-row .letter-text::after {
	content: '';
	position: absolute;
	left: -6px;
	right: -6px;
	bottom: -4px;
	height: 4px;
	background-image:
		linear-gradient(45deg, var(--color-text-invalid) 50%, transparent 50%),
		linear-gradient(-45deg, var(--color-text-invalid) 45%, transparent 45%);
	background-size: 6px 4px;
	background-position:
		1px 0px,
		2px -1px;
}

@keyframes wiggle {
	0% {
		transform: translateX(0);
	}
	10% {
		transform: translateX(-2px);
	}
	30% {
		transform: translateX(4px);
	}
	50% {
		transform: translateX(-6px);
	}
	70% {
		transform: translateX(+4px);
	}
	90% {
		transform: translateX(-2px);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes wave {
	0% {
		transform: scaleY(var(--_current-row-scale)) translateY(0);
	}
	10% {
		transform: scaleY(var(--_current-row-scale)) translateY(2px);
	}
	30% {
		transform: scaleY(var(--_current-row-scale)) translateY(-4px);
	}
	50% {
		transform: scaleY(var(--_current-row-scale)) translateY(6px);
	}
	70% {
		transform: scaleY(var(--_current-row-scale)) translateY(-4px);
	}
	90% {
		transform: scaleY(var(--_current-row-scale)) translateY(2px);
	}
	100% {
		transform: scaleY(var(--_current-row-scale)) translateY(0);
	}
}

@keyframes scale-letter {
	0% {
		transform: scale(1, var(--_current-row-scale));
	}
	50% {
		transform: scale(
			var(--_animation-grow-scale),
			calc(var(--_animation-grow-scale) * var(--_current-row-scale))
		);
	}
	100% {
		transform: scale(1, var(--_current-row-scale));
	}
}

@media (prefers-reduced-motion: no-preference) {
	.playing .current-row::before {
		transition: background-color 0.6s;
	}
	.playing.bad-guess .current-row {
		animation: wiggle 0.5s;
	}

	.won .current-row .letter {
		animation: wave 0.5s;
		animation-delay: calc(var(--_letter-anim-delay) * 0.3s);
	}

	/* Use global style since the class is manually added in the script */
	:global(.animate-letter) {
		animation: scale-letter 0.5s;
	}

	.letter {
		transition: background-color, opacity;
		transition-duration: 0.6s, 0.6s;
	}
}

/* Override letter color styles with extra specificity so they appear in favor of component styles */
.letter.missing[class] {
	background-color: var(--color-missing);
	color: var(--color-text-missing);
}

.letter.exact[class] {
	background-color: var(--color-exact);
	color: var(--color-text-exact);
}

.letter.close[class] {
	background-color: var(--color-close);
	border: 2px solid var(--color-close-border);
}
